$gray: #8b8da0;
$darkGray: #776b79;
$starLight: #fdfdfd;
$moonLight: #dadcf5;
$deepSpace: #0a0d1a;
$white: #fdfdfd;
$sunset: #af1d67;
$black: #000;
$nightSkyBlue: #3b4f87;
$lightBlue: #949dc2;
$purple: #6c20a0;
$green: #1c9f10;
$paleBlue: #0d92b3;
$starRed: #fa566f;
$starBlue: #93fcfb;