#header, #content, #footer {
  margin-top: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}

#header, #footer {
  background-color: rgba($nightSkyBlue, 0.9);
  &.last {
    border-right: none;
    box-shadow: none;
  }
}

.first:hover {
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-radius-topleft: 5px;
  -khtml-border-radius-topleft: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-radius-bottomleft: 5px;
  -khtml-border-radius-bottomleft: 5px;
}

.last:hover {
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-radius-topright: 5px;
  -khtml-border-radius-topright: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-radius-bottomright: 5px;
  -khtml-border-radius-bottomright: 5px;
}

.menu {
  text-align: center;
  color: $white;
  display: table-cell;
  vertical-align: middle;
  padding-top: 15px;
  padding-bottom: 15px;
  border-right: 1px solid black;
  font-weight: bold;
  #copyright & {
    padding-top: 17px;
    padding-bottom: 17px;
    border-right: none;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    display: block;
    font-weight: normal;
    font-size: 12px;
  }
}

.menu:hover {
  background-color: rgba($gray, 0.5);
  color: $white;
  #copyright & {
    background-color: inherit;
  }
}

#donate {
  color: $green;
}

#copyright {
  border-right: 1px solid black;
  padding-left: 0;
  padding-right: 0;
}

#content div div {
  background-color: rgba($white, 0.9);
  color: $black;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  margin: 5px 0;
  padding: 10px;
}
