/* line 1, ../../SASS/_background.scss */
body {
  background-color: #00010b;
}

/* line 5, ../../SASS/_background.scss */
.star {
  background-color: #feffef;
  z-index: -3;
}

/* line 10, ../../SASS/_background.scss */
.twinkle {
  box-shadow: 1px 0 1px #feffef, 0 1px 1px #feffef, -1px 0 1px #feffef, 0 -1px 1px #feffef;
}

/* line 14, ../../SASS/_background.scss */
#moon {
  background-color: #feffef;
  z-index: -2;
  box-shadow: 2px 0 3px #feffef, 0 2px 3px #feffef, -2px 0 3px #feffef, 0 -2px 3px #feffef;
}

/* line 20, ../../SASS/_background.scss */
.star, #moon {
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -khtml-border-radius: 100%;
  position: fixed;
}

/* line 1, ../../SASS/_content.scss */
#wrapper {
  z-index: 0;
  position: absolute;
  left: 8%;
  top: 2%;
  right: 8%;
  bottom: 2%;
}

/* line 10, ../../SASS/_content.scss */
#header {
  top: 0px;
}

/* line 14, ../../SASS/_content.scss */
#content {
  position: absolute;
}

/* line 18, ../../SASS/_content.scss */
#footer {
  bottom: 0px;
}

/* line 22, ../../SASS/_content.scss */
#header, #footer {
  width: 100%;
  height: 50px;
  background-color: #2b2b2b;
  position: absolute;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
